/* canvas {
    border: solid black;
    position: absolute;
    top: 0; left: 0;
    width: 50%; height: 50%;
} */
html {
    height: 100%;
    background: radial-gradient(white, rgb(134, 199, 243));
    background-size: cover;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#errMessage {
    color: red;
}

h1, h2, h3, h4, h5, h6, p, button, input {
    margin: 10px;
}

hr {
    width: 50%;
    border-color: black;
}

#drawerView {
    display: flex;
    flex-direction: column;
}

#mainView {
    display: flex;
    flex-direction: row;
}

#guesses {
    width: 100%;
    border: solid black;
    background-color: rgb(187, 245, 187);
}

#whiteboard {
    border-top: solid black;
    border-left: solid black;
    border-bottom: solid black;
    background-color: lightgoldenrodyellow;
}

#whiteboard canvas {
    border-bottom: solid black;
}